/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Latest Released Movies */
.latest-released h2 {
  text-align: center;
  margin-top: 20px;
}

.latest-released .movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.movie-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05); /* Zoom effect on hover */
}

.movie-card img {
  width: 100%;
  height: auto;
  border-bottom: 4px solid #f1f1f1;
  transition: transform 0.3s ease;
}

.movie-card:hover img {
  transform: scale(1.1); /* Zoom effect on image when the card is hovered */
}

.movie-info {
  padding: 20px;
  text-align: center;
}

.movie-info h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.watch-btn {
  padding: 10px 20px;
  background-color: #ff5733;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.watch-btn:hover {
  background-color: #e04e1f;
}

/* See More Button */
.see-more {
  text-align: center;
  margin-top: 20px;
}

.see-more-btn {
  padding: 10px 20px;
  background-color: #ff5733;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
}

/* Responsive Styles */

/* Mobile (up to 600px) */
@media (max-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }

  .latest-released-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row for the latest releases */
  }

  .hero-content .slide-text h1 {
    font-size: 2em;
  }
}

/* Tablet (up to 768px) */
@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  }

  .latest-released-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row for the latest releases */
  }

  .hero-content .slide-text h1 {
    font-size: 2.5em;
  }
}

/* Laptop or larger (greater than 768px) */
@media (min-width: 769px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr); /* 5 cards per row */
  }

  .latest-released-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row for the latest releases */
  }
}
